html(lang='ru')
  head
    title= 'Создать турнир | ' + guild.name
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/createEvent.css')
    meta(content="width=device-width, initial-scale=1", name="viewport")
  body
    include includes/header
    main
      .content-title
        h2 Создать турнир
        a(href='..')
          button.btn.danger Назад
      .main-container
        form.create-event(method='POST', autocomplete='off')
          label.pointer
            h3 Название турнира
            input(placeholder='Название', name='name', required=true, value=defaults.name)
          label.pointer
            h3 Описание
            textarea(name='description', placeholder='Описание', required=true)=defaults.description
          label.pointer
            h3 Картинка
            input#imageUrl(name='imageUrl', placeholder='URL картинки для турнира', required=true, type='url', value=defaults.imageUrl)
          if defaults.imageUrl !== ''
            img#image-preview(src=defaults.imageUrl, alt = 'Проверьте правильность введённого URL. Учтите, что вставлять изображение можно только из Discord (URL должен начинаться с cdn.discordapp...)')
          else
            img.d-none#image-preview(alt = 'Проверьте правильность введённого URL. Учтите, что вставлять изображение можно только из Discord (URL должен начинаться с cdn.discordapp...)')
          label.pointer
            h3 Когда будет проведён турнир?
            input(type='datetime-local', name='datetime', required=true)
          input(name='csrfToken', hidden=true, value=csrfToken, readonly=true)
          input#timezone(name='timezone', hidden=true, readonly=true)
          button(type='submit').btn.action-2 СОЗДАТЬ
  include includes/footer
script(src='/script/createEvent.js', defer=true)
script(src='/script/common/timezone.js', defer=true)